/* for "class" we use "." , for id we can use "#"*/
#title
{
    background-color:#ff4c68;
}
.container-fluid
{
    padding:3% 15%;

}
h1{  font-family: 'Montserrat', sans-serif;
     font-size: 3.5rem;
     line-height: 1.5;
     color:#fff;
}
h2 {  
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
     line-height: 1.5;
}
    
h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    color:#afafaf;
}

/* call to action */
#cta
{
    background-color:#ff4c68;
    text-align: center;
    color: #fff;
    padding: 4%;
    
}
.h3-line
{
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;

}
.navbar-brand
{
    font-family: "Ubuntu";
    font-weight: "bold";
    font-size: 2.5rem;
}
.nav-item
{
    padding: 18px;
}

/* download-button */
.download-button
{
    margin: 5% 3% 5% 0;
}
.sign{
    border-color:darkgray;
     color:black
}
.sign:hover{
    background-color: #afafaf;
}

/* Title Image */
.title-image
{
 height: 550px;
 transform: rotate(25deg);
 position:absolute;
 right:350px;
}

/* Features  Section*/
#features{
    padding: 7% 15%;
    background-color: #fff;
    position:relative;
}
.feature-box
{
    text-align: center;
    padding:2%;
}
/* fpr oue convenience we can use commaon in all three font icon word as a "icon"*/ 
.icon{
    color:#ef8172;
    margin:5%;
} 
.icon:hover{
    color:#ff4c68;
}

/* TestonnomiL Section */
#testimonials{
    
    background-color: #ef8172;
    color:#fff;
}
.carousel-item 
{
    padding:7% 15%;
}
.testimonial-image
{
    margin:20px;
    width:10%;
    border-radius: 50%;
}

/* Press */
#press
{
    background-color: #ef8172;
    text-align: center;
    padding: 4.5rem;
}
.press-logo
{   width:15%;
    margin:20px 20px 50px;
}

/* Pricing Section */
#pricing
{
    padding: 100px;
    text-align: center;
}
.pricing-column
{
    padding:3%;
}

/*  Footer */
#footer
{    text-align: center;
    background-color: #fff;
    padding: 5% 5%;
}
.fonting
{
    margin:20px;
}